background {
	min-height:100%;
    min-width:100%;
    height:auto;
    width:auto;
    position:absolute;
    top:-100%; bottom:-100%;
    left:-100%; right:-100%;
    margin:auto;
    z-index: -1
}

formation {
	text-align: center;
	margin: 0;
    position: absolute;
    width: 200px;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%)
}